<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <include file="$(find serbot_bringup)/launch/serbot_remote.launch"/>

  <include file="$(find serbot_bringup)/launch/serbot_core.launch"/>

  <include file="$(find serbot_bringup)/launch/rplidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <node name="sound_play" pkg="serbot_bringup" type="play_sound.py" />
  <node name="raspicam_node" pkg="raspicam" type="raspicam_raw_node" output="screen" />
  <node name="rosservice" pkg="rosservice" type="rosservice" args="call /camera/start_capture" />


  <node pkg="serbot_bringup" type="serbot_diagnostics" name="serbot_diagnostics" output="screen"/>
</launch>
